<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    	<div th:replace="fragments/header :: header_fragment"></div>
        <title>Welcome</title>
    </head>
    <body style="padding-top: 70px">
    	<th:block th:include="fragments/header :: navbar(selectedTab='home')"></th:block>
    	
	    	<div class="container-fluid">
		        <div class="row">
			        <div class="col-sm-6">
			        	<div id="tree"></div>
			        </div>
			       	<div id="rhs" class="col-sm-6">
			        </div>
			    </div>
		    </div>
    </body>
	<script>
	
	$(function() {
        $.contextMenu({
            selector: '.list-group-item', 
            callback: function(key, options) {
            	var operationEndpoint;
            	switch(key){
            		case 'new':
            			operationEndpoint = 'newElementModal'
            			break;
            		case 'delete':
            			operationEndpoint = 'deleteElement'
            			break;
            	}
                $.ajax({
			        type: 'GET',
			        url: operationEndpoint+'/'+$(this).data('elementid'),
			        dataType: "html"
			    })
			    .done(function (html) {
			    	
			    	switch(key){
            		case 'new':
            			$( "#modalContent" ).html( html );
    			    	$("#elementDetailsModal").modal();
            			break;
            		case 'delete':
            			document.cookie = 'expanded=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            			location.reload();
            			break;
            		}
			    	
			    }).fail(function( jqXHR, textStatus, errorThrown ) {
			    	console.log('error');
			    });
                
            },
            items: {
            	"new": {name: "New", icon: "edit"},
                "cut": {name: "Cut", icon: "cut"},
               copy: {name: "Copy", icon: "copy"},
                "paste": {name: "Paste", icon: "paste"},
                "delete": {name: "Delete", icon: "delete"},
                "sep1": "---------",
                "quit": {name: "Quit", icon: function(){
                    return 'context-menu-icon context-menu-icon-quit';
                }}
            }
        });   
    });
	
	
	$.ajax({
        type: 'GET',
        url: 'roots',
        dataType: "json"
    })
    .done(function (response) {
    	
    	var tree = $('#tree');
    	tree.treeview({data: response, levels: 1});
    	
    	function getCookie(cname) {
    	    var name = cname + "=";
    	    var ca = document.cookie.split(';');
    	    for(var i = 0; ca.length > i; i++) {
    	        var c = ca[i];
    	        while (c.charAt(0)==' ') {
    	            c = c.substring(1);
    	        }
    	        if (c.indexOf(name) == 0) {
    	            return c.substring(name.length,c.length);
    	        }
    	    }
    	    return "";
    	}
    	
    	try {
    		getCookie('expanded').split(',').map(Number).forEach(function(nodeId) {
    			tree.treeview('expandNode', nodeId);
    		});
    	}
    	catch(err){
    	    //No cookie, who cares
    	}
    	
    	function recordExpanded() {
    		var expanded = '';
    		tree.treeview('getExpanded', 0).forEach(function(node) {
    			if(expanded.length>0){
    				expanded+=',';
    			}
    			expanded+=node.nodeId;
    			console.log(expanded);
    		});
    		document.cookie = 'expanded='+expanded;
    	}
    	
    	tree.on('nodeExpanded', function(event, node) {
    		 recordExpanded();
    	});
    	
    	tree.on('nodeCollapsed', function(event, node) {
   		 recordExpanded();
   		});
    	
    	tree.on('nodeSelected', function(event, data) {
    		$.ajax({
    	        type: 'GET',
    	        url: 'elementDetails/'+data.elementId,
    	        dataType: "html"
    	    })
    	    .done(function (html) {
    	    	$( "#rhs" ).html( html );
    	    }).fail(function( jqXHR, textStatus, errorThrown ) {
    	    	console.log('error');
    	    });
    	});
    })
	</script>
</html>