<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    	<th:block th:include="fragments/header :: header_fragment"></th:block>
        <title>Welcome</title>
    </head>
<body>		
	<div class='container jumbotron'>
		<p><button type="button" class="btn btn-info btn-back" style="margin:4px">&lt; Previous</button></p>
	 	<div class='row'>
	        <div class='col-xs-12' style='text-align: center;'><h2 id='question'></h2></div>
	    </div>
	    <hr/>
	    <div class='row'>
	        <div class='col-xs-12' style='text-align: center;' id='answers'></div>
	    </div>
	</div>
</body>
	<script th:inline="javascript">
	$(function() {
		questions = /*[[${questionMap}]]*/
		currentQ = 0;
		answers = [];
		backButton = $('.btn-back');
		questionNumber = Object.keys(questions).length;
		loadQuestion();
    });
	
	function loadQuestion() {
		//Insert the first question
		var firstKey = Object.keys(questions)[currentQ];
		
		questionDiv = $('#question');
		answerDiv = $('#answers');
		
		if(currentQ===0){
			backButton.prop('disabled', true);
		}
		else{
			backButton.prop('disabled', false);
		}
		
		questionDiv.html(firstKey );
		
		var buttonHTML = '';
		questions[firstKey].forEach(function(element) {
			if(element.toLowerCase()==='other'){
				buttonHTML+='<form class="form-inline" role="form"><div class="form-group"><input type="text" class="form-control" id="other" placeholder="Other"></input><button type="button" class="btn btn-other" style="margin:4px">'+element+'</button></div></form>';
			}
			else{
				buttonHTML+='<button type="button" class="btn btn-primary btn-option" style="margin:4px">'+element+'</button>';
			}
		});
		answerDiv.html(buttonHTML);
		$('.btn-option').click(function(event) {
			completeQuestion(event.target.textContent);
        });
		$('.btn-other').click(function() {
			completeQuestion($('#other').val());
        });
		backButton.off('click');
		backButton.click(function() {
			currentQ--;
			loadQuestion();
        });
	}
	
	function completeQuestion(answer) {
		answers[currentQ] = answer;
		currentQ++;
		
		/*<![CDATA[*/
		if(currentQ<questionNumber){
			loadQuestion();
		}
		else{
			backButton.prop('disabled', false);
			questionDiv.html('');
			answerDiv.html('');
			answerDiv.html('<button type="button" class="btn btn-success btn-option" style="margin:4px" id="submit">Submit</button>');
			
			$('#submit').click( function(e) {
				$.ajax({
					async: false,
	    	        type: 'POST',
	    	        url: '/submitAudit',
	    	        data:{answers},
	    	    })
	    	    .done(function (html) {
	    	    	location.reload();
	    	    }).fail(function( jqXHR, textStatus, errorThrown ) {
	    	    	console.log('error');
	    	    });
			});
		}
	    /*]]>*/
	}
	</script>
</html>