<div id="details" th:fragment="details">
	<div th:text="${element.title}"></div>
	<div>
		<a href="javascript:;" id="detailsEdit">Edit title</a>
	</div>
	<hr/>
	<div>
	<span th:text="(${element.responseSets.size()}>0)?'Contains the following response sets':'Currently has no response sets attached'"/>
		<ol>
	    	<li th:each="resp : ${element.responseSets}">
	    		<span th:text="${resp.type}"/>
	    	</li>
  		</ol>
	</div>
	<div>
		<a href="javascript:;" id="addResponse">Add response set</a>
	</div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		    $(function() {
				$('#detailsEdit').click( function(e) {
					showModal('elementDetailsModal');
				});
				$('#addResponse').click( function(e) {
					showModal('addResponseModal');
				});
				
				function showModal(modal) {
					$.ajax({
				        type: 'GET',
				        url: modal+'/'+[[${element.id}]],
				        dataType: "html"
				    })
				    .done(function (html) {
				    	$( "#modalContent" ).html( html );
				    	$("#"+modal).modal();
				    }).fail(function( jqXHR, textStatus, errorThrown ) {
				    	console.log('error');
				    });
		    	}
			});
		/*]]>*/
	</script>
</div>